aside {
  display: initial;
  @media (width >= 80em) {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "ai ai ad"
      "ai ai more"
      "ai ai more";
  }
}