* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cores dos Produtos*/
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  /*Cores Base*/
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  /*Cores dos Textos*/
  --text-color-primary: #F1F5F9;
  --text-color-secundary: #CBD5E1;

  /*Tipografia*/
  --ff-archivo: 'Archivo', sans-serif;

  --fw-base: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-sm: .625rem;
  --fs-md: .875rem;
  --fs-base: 1rem;
  --fs-lg: 1.5rem;

  --py-xs: 1rem;
  --py-sm: 1rem;
  --py-base: 2rem;
  --py-lg: 3.5rem;

  --px-base: 1rem;
}

html{
  font-family: var(--ff-archivo);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-secundary);

  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

title{
  line-height: 1.4;
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-lg);
  line-height: 1.35;
  font-weight: var(--fw-extra-bold);
  color: var(--text-color-primary);
}

h2 {
  font-size: var(--fs-base);
  line-height: 1.4;
  font-weight: var(--fw-extra-bold);
  color: var(--text-color-primary);
}

h3 {
  font-size: var(--fs-md);
  line-height: 1.4;
  font-weight: var(--fw-extra-bold);
  color: var(--text-color-primary);
}

p {
  font-size: var(--fs-md);
}

span {
  font-size: var(--fs-md);
  line-height: 1.45;
  font-weight: var(--fw-semi-bold);
}

@media(width >= 80em) {
  :root {

    --py-xs: .875rem;
    --py-sm: 1.25rem;
    --py-base: 5rem;
    --py-lg: 5rem;
    
    --px-base: 2rem;

  }
}