.py-xs {
  padding-block: var(--py-xs);
}

.py-sm {
  padding-block: var(--py-sm);
}

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.px-base {
  padding-inline: var(--px-base);
}

.container {
  --max-width:375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-center{
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-0\.5{
  gap: .5rem;
}

.border {
  margin-inline: -6.25rem;
  position: relative;
  border-block: 1px solid var(--stroke-color);
}

.divider {
  border-block-end: 1px solid var(--stroke-color);
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only{
    display: initial;
  }
  
}